.cell{
    width:70px;
    height:70px;
    background-color:yellow;
    margin:10px;
}

.row{
    display:flex;
}

.one{
    background-color:orange;
}

.two{
    background-color:aqua;
}

.hole{
    background-color: black;
}

.zero{
    background-color: gray;
}