.firstButton{
    width:100px;
    height:100px;
    font-size:30px;
    margin:10px;
}

.first{
    padding:20px;
}

.hidden{
    display:none;
}

.row{
    display:flex;
}

.cell{
    width:70px;
    height:70px;
    background-color: aqua;
    margin:10px;
}

.disable{
    background-color: gray;
}

.next{
    width : 200px;
    height:100px;
}